.button{
    border-radius:4px;
    padding:8px16px;
    border:1pxsolidwhite;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

.button:hover{
    opacity:0.9;
}

.primary{
    background-color:#346cce;
}

.success{
    background-color:#2fb851;
}

.danger{
    background-color: #ce3434;
}